{% extends "base.html" %} {% block content %}

<section class="container-fluid p-5" id="hero-image">
  <div class="row justify-content-md-end p-5">
    <div class="col-md-8 p-5" id="welcome">
      <h1>Welcome to The Crochet Corner!</h1>
      <hr>
      <p></p>
    </div>
  </div>
</section>

<section class="container p-4">
  <hr />
  <div class="row p-5 g-3">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text text-center">
            <h3 class="text-uppercase">Browse</h3>
            <p class="text-lowercase">
              Through our fabulous collection of crochet patterns
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text text-center">
            <h3 class="text-uppercase">Save</h3>
            <p class="text-lowercase">
              Your favourite crochet patterns to inspire your next beautiful
              project
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text text-center">
            <h3 class="text-uppercase">Share</h3>
            <p class="text-lowercase">
              Your thoughts and ideas with fellow crocheters
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
