{% extends "base.html" %} {% block content %}

<section class="container-fluid p-5" id="hero-image">
  <div class="row justify-content-md-end p-5">
    <div class="col-md-8 col-lg-5 mb-5 mt-5 p-4" id="welcome">
      <h1>Welcome to The Crochet Corner!</h1>
      <hr />
    </div>
  </div>
</section>

<section class="container p-4">
  <p class="text-center">
    Delve into the delightful craft of crochet with this crochet pattern sharing
    platform.
  </p>
  <hr />
  <div class="row p-5 g-3">
    <div class="col-sm-9 col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text text-center">
            <h3 class="text-uppercase">
              <i class="fa-solid fa-magnifying-glass"></i> Browse
            </h3>
            <p class="text-lowercase">
              Through our fabulous collection of crochet patterns, made for you
              by our talented crochet community and dedicated admin team
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text text-center">
            <h3 class="text-uppercase">
              <i class="fa-regular fa-bookmark"></i> Save
            </h3>
            <p class="text-lowercase">
              Your favourite crochet patterns to inspire your next beautiful
              project by using our handy "Save for Later" feature
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text text-center">
            <h3 class="text-uppercase">
              <i class="fa-regular fa-comment"></i> Share
            </h3>
            <p class="text-lowercase">
              Your thoughts, ideas and best crochet patterns with our fabulous
              crochet community!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
