{% extends "base.html" %} {% block content %}

<section class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Welcome to The Crochet Corner!</h1>
    </div>
  </div>
</section>
<hr />
<section class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id quia
            non quis explicabo ea at? Id a praesentium pariatur! Consectetur
            sapiente necessitatibus ut possimus laudantium sint quasi
            repellendus aperiam modi.
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sunt
            aperiam suscipit veniam vel optio voluptatum libero velit iure
            corrupti quam odit, quod, fugit at necessitatibus cumque quo fuga
            possimus?
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem rem
            sit hic sapiente! Amet, iure assumenda repudiandae ipsum aliquam
            architecto facilis. Dicta rerum saepe fuga. Explicabo, obcaecati.
            Officia, commodi a!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
