{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-9 col-lg-6">
            <h2>Log Out</h2>
            <hr>
            <p>{% trans 'Are you sure you want to log out?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <button type="submit" class="btn btn-primary">
                {% trans "Log Out" %}
            </button>
        {% endslot %}
    {% endelement %}
            </div>
        </div>
    </div>
{% endblock %}
