/* Main */

main {
    background-image: url('{% static "img/the-crochet-corner-background.webp" %}');
}

/* Pattern List */

.pattern-card {
    width: 18em;
}

.pattern-img {
    background-size: cover;
}

.pattern-link {
    text-decoration: none;
}

/* Navigation */

nav {
    background-color: #ffffff;
}

/* Footer  */

footer {
    background-color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #0e0e0e;
}