/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Fonts */

h1,
h2,
h3 {
    font-family: 'Spectral', serif;
    margin-bottom: 0;
}


/* Global styling */

body {
    font-family: 'Noto Serif JP', serif;
    background-color: #F8F8F8;
    color: #0e0e0e;
}


.remove-text-decoration {
    text-decoration: none;
}

a {
    color: #0e0e0e 
}

a:hover {
    color: rgba(131, 178, 113, 1);
    transition: 0.5s;
}

/* Home page */

#hero-image {
    background-image: url("https://res.cloudinary.com/dxs42sums/image/upload/v1705326005/the-crochet-corner-background_n4ufgm.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#welcome {
    background-color: rgba(131, 178, 113, 0.9);
    color: #F8F8F8
}

/* Pattern List */

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card-title,
.card-body {
    color: #0e0e0e;
}

/* Navbar */

nav {
    background-color: #ffffff;
}

#logo {
    width: 30px;
    height: 30px;
}

/* Footer  */

footer {
    background-color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #0e0e0e;
}

#disclaimer {
    font-size: 0.75rem
}

/* Media Queries */

/* For screens 768px and below */

@media screen and (max-width: 768px) {
    .card-img-top {
        height: 45vw;
    }

    button.btn-secondary {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .card-img-top {
        height: 55vw;
    }
}

