{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<div class="container" id="edit">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-11 col-lg-6">
      <h2 class="text-center">Edit Comment</h2>
      <hr />
      <form method="POST">
        {% csrf_token %} {{ form | crispy }}
        <div class="col-9 col-lg-6 mt-2">
          <button type="submit" value="Save" class="btn btn-success" aria-label="Save">
            Save
          </button>
          <a href="{% url 'pattern_page' comment.pattern.slug %}" aria-label="Cancel"
            class="btn btn-outline-secondary remove-text-decoration">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
