{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<article>
    <!-- Pattern Details -->
    <div class="container">
        <div class="row mt-4">
            <div class="col-sm-6 text-md-end">
                <h2 class="text-capitalize">{{ pattern.title }}</h2>
                <!-- Displays "Edit" and "Delete" buttons to the user who created the pattern while authenticated -->
            </div>
            <div class="col-sm-6 text-md-end">
                {% if user.is_authenticated and pattern.created_by == request.user %}
                <span><a href="{% url 'edit_pattern' pattern.slug %}" aria-label="Edit pattern"
                        class="btn btn-primary remove-text-decoration">Edit</a></span> <span><a
                        href="{% url 'delete_pattern' pattern.slug %}" aria-label="Delete pattern"
                        class="btn btn-danger">Delete</a></span>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row mt-4 mb-5">
            <div class="col-md-4">
                {% if 'placeholder' in pattern.featured_image.url %}
                <!-- Adds a placeholder image if the creator of the pattern has not added one -->
                <img src="https://res.cloudinary.com/dxs42sums/image/upload/v1705542273/pattern-placeholder_ljrrtz.jpg" class="img-fluid rounded shadow" alt="Placeholder pattern image">
                {% else %}
                <img src="{{ pattern.featured_image.url }}" class="img-fluid rounded shadow" alt="Pattern image">
                {% endif %}
            </div>
            <div class="col-md-8">
                {% if user.is_authenticated %}
                <!-- Allows the user to save the pattern if authenticated -->
                <form action="{% url 'save_pattern' pattern.slug %}" method="POST">
                    {% csrf_token %}
                    {% if saved %}
                    <button type="submit" name="save_for_later" value="{{ pattern.slug }}"
                        class="btn btn-secondary remove-text-decoration"><i class="fa-solid fa-bookmark"></i>
                        Saved
                        for
                        Later</button>
                    {% else %}
                    <button type="submit" name="save_for_later" value="{{ pattern.slug }}"
                        class="btn btn-secondary remove-text-decoration"><i class="fa-regular fa-bookmark"></i>
                        Save
                        for Later</button>
                    {% endif %}
                </form>
                {% else %}
                <p><i class="fa-regular fa-bookmark"></i> To save for later, please <a
                        href="{% url 'account_login' %}?next={{request.path}}"
                        aria-label="Log in to save pattern for later" class="remove-text-decoration">Log In</a> or <a
                        href="{% url 'account_signup' %}?next={{request.path}}"
                        aria-label="Sign up to save pattern for later" class="remove-text-decoration">Sign Up</a>.</p>
                {% endif %}
                <h3 class="mt-2">Description:</h3>
                <p>{{ pattern.description|safe }}</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>Difficulty Level:</td>
                            <td>{{ pattern.difficulty_level }}</td>
                        </tr>
                        <tr>
                            <td>Yarn Type:</td>
                            <td>{{ pattern.yarn_type }}</td>
                        </tr>
                        <tr>
                            <td>Hook Size:</td>
                            <td>{{ pattern.hook_size }}</td>
                        </tr>
                        <tr>
                            <td>Gauge:</td>
                            <td>{{ pattern.gauge }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fst-italic">Created on: {{ pattern.created_on }} by {{ pattern.created_by }}</p>
            </div>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-sm-6">
                <h3>Abbreviations</h3>
                <p>{{ pattern.abbreviations|safe}}</p>
            </div>
            <div class="col-sm-6">
                <h3>Instructions</h3>
                <p>{{ pattern.instructions|safe}}</p>
            </div>
        </div>

        <hr>

        <div class="row g-3">
            <!-- Allows the user to add comments if authenticated -->
            <div class="col-sm-6 mt-2">
                {% if user.is_authenticated %}
                <h3>Share your thoughts:</h3>
                <form method="post">
                    {{ comment_form | crispy }} {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
                {% else %}
                <!-- Prompts the user to log in/sign up to add a comment -->
                <h3>Share your thoughts:</h3>
                <p>
                    <a href="{% url 'account_login' %}?next={{request.path}}" aria-label="Log in to leave a comment">Log
                        In</a>
                    |
                    <a href="{% url 'account_signup' %}?next={{request.path}}"
                        aria-label="Sign up to leave a comment">Sign Up</a>
                </p>
            </div>
            {% endif %}

            <!-- Comments section -->
            <div class="col-sm-6 mt-2 pb-5">
                <h3>Comments:</h5>
                    {% for comment in comments %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">{{ comment.text | linebreaks }}</p>
                            <div class="card-footer">
                                <p>
                                    Created on {{ comment.created_on }} by {{ comment.author }}
                                </p>
                                {% if comment.author == request.user %}
                                <p><a href="{% url 'edit_comment' comment.id %}" aria-label="Edit comment">Edit</a> | <a
                                        href="{% url 'delete_comment' comment.id %}"
                                        aria-label="Delete comment">Delete</a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>There are no comments yet.</p>
                    {% endfor %}
            </div>
        </div>

        <!-- Allows the user to navigate back to the top of the screen or back to the All Patterns page -->
        <div class="row mb-5">
            <div class="col">
                <button onClick="backToTop()" type="button" title="Back to the top" class="btn btn-primary"><i
                        class="fa-solid fa-arrow-up"></i></button>
                <div class="col pt-4">
                    <a href="{% url 'pattern_list' %}" class="remove-text-decoration"><i
                            class="fa-solid fa-arrow-left"></i>
                        Back to All Patterns</a>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}

