{% extends "base.html" %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      {% for pattern in pattern_list %}
      <div class="card pattern-card">
        <a href="{% url 'pattern_page' pattern.slug  %}" class="pattern-link">
          <img
            src="{{ pattern.featured_image.url }}"
            class="card-img-top pattern-img"
          />
          <div class="card-body">
            <h5 class="card-title">{{ pattern.title }}</h5>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
